In [16]:
 import visuals as vs
import pandas as desmond
from IPython.display import display
data=desmond.read_csv("census.csv")

 
logic=result[result['income']==">50K"]
#result['sex_gender']=data.sex.map({' Female':0,' Male':1})
ok=desmond.get_dummies(data.race)

display(ok.head(n=5))

    Amer-Indian-Eskimo   Asian-Pac-Islander   Black   Other   White
0                    0                    0       0       0       1
1                    0                    0       0       0       1
2                    0                    0       0       0       1
3                    0                    0       1       0       0
4                    0                    0       1       0       0

In [24]:
df = desmond.DataFrame({'A': ['x', 'y', 't'], 'B': ['z', 'u', 'z'],
                  'C': ['1', '2', '3'],
                  'D':['j', 'l', 'r']})
#print df
desmond.get_dummies(df, prefix=['A', 'D'], columns=['A', 'D'])

   B  C  A_t  A_x  A_y  D_j  D_l  D_r
0  z  1    0    1    0    1    0    0
1  u  2    0    0    1    0    1    0
2  z  3    1    0    0    0    0    1